<div class="card" style="margin-top:100px; padding:40px;">
  <h3 class="card-header primary-color white-text" style="text-align: center;">What do you want to do {{username}}?</h3>
  <div class="card-body">

    <div class="input-group-prepend d-flex justify-content-center">
      <button class="btn btn-outline-primary" type="button" (click)="GotoContent('create');">CREATE</button>
      <span>&nbsp;&nbsp;</span>
      <button class="btn btn-outline-primary" type="button" (click)="GotoContent('review');">INPUT</button>
      <span>&nbsp;&nbsp;</span>
      <button class="btn btn-outline-primary" type="button" (click)="GotoContent('approve');">APPROVE</button>
      <span>&nbsp;&nbsp;</span>
      <button class="btn btn-outline-primary" type="button" (click)="GotoContent('publish');">PUBLISH</button>
    </div>
  </div>
</div>
