<header *ngIf="isLoginRoute()">
  <mdb-navbar SideClass="navbar navbar-expand-lg fixed-top scrolling-navbar navbar-dark blue-grey darken-3" #myNavbar>
    <br>
    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" style="font-family: fantasy; color:yellow;" href="#">
        MarketZoom
    </a>
    </logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" class="nav-link waves-light" routerLink="createcontent" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">Create</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" class="nav-link waves-light" routerLink="dashboard" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">Inputs</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" class="nav-link waves-light" routerLink="reviewcontent" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">Approve</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" class="nav-link waves-light" mdbRippleRadius (click)="showPublishOptions()">
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
              <span class="navbaritem">Publish</span>



          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" class="nav-link waves-light" routerLink="dashboard" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">My Dashboard</span>
          </a>
        </li>
        <li [ngStyle]="{'display':isVisible ? 'inline' : 'none'}" class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" (click)="setLogoutInVisible();" class="nav-link waves-light" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">Logout</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin:0px 8px 0px 8px;">
          <a href="javascript:void(0);" (click)="logout()" class="nav-link waves-light" routerLink="login" mdbRippleRadius>
            <!-- <i class="fa fa-check-square navbaricons" aria-hidden="true"></i> -->
            <span class="navbaritem">Logout</span>
          </a>
        </li>
      </ul>
      <!-- Links -->

    </links>
    <!-- Collapsible content -->


  </mdb-navbar>
  <!--/.Navbar-->
</header>

<div class="content" style="margin-top:20px;">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer *ngIf="isLoginRoute()" class="footer fixed-bottom page-footer blue-grey darken-3 center-on-small-only pt-0">

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">

      <span style="float:right; margin-right:25px;" class="navbaritem">
          © {{this.currentyear}} Copyright <i> Market Zoom </i>
        </span>
    </div>
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->

