<div class="row">
  <div class="col-md-9">
    <div class="card" style="margin-top:100px; padding:40px;" id="mycard">
      <form id="entryForm" #entryForm="ngForm" (ngSubmit)="createDocument(entryForm)">
        <input type="hidden" name="myCampaignId" [(ngModel)]="myCampaignId" value="{{myCampaignId}}">
        <input type="hidden" name="myInitiativeId" [(ngModel)]="myInitiativeId" value="{{myInitiativeId}}">
        <input type="hidden" name="myTypeId" [(ngModel)]="myTypeId" value="{{myTypeId}}">
        <input type="hidden" name="myAssetId" [(ngModel)]="myAssetId" value="{{myAssetId}}">
        <input type="hidden" name="myRoleId" [(ngModel)]="myRoleId" value="{{myRoleId}}">
        <input type="hidden" name="myFlowId" [(ngModel)]="myFlowId" value="{{myFlowId}}">
        <input type="hidden" name="userid" [(ngModel)]="userid" value="{{userid}}">
        <input type="hidden" name="myIntent" [(ngModel)]="myIntent" value="{{myIntent}}">
        <input type="hidden" name="reviewers" [(ngModel)]="reviewers" value="{{reviewers}}">

        <h5 class="card-header primary-color white-text text-center" style="margin-bottom:40px;">{{masterName}}</h5>
        <div class="card-body">
          <div class="row text-center">
            <div class="col">

              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect [ngClass]="myInitiative !== '' ? 'btn btn-light-blue' : 'btn btn-outline-blue-grey'">
                INTIATIVE
              </button>
                <div class="dropdown-menu dropdown-primary">
                  <a *ngFor="let initiative of initiativesList" class="dropdown-item" href="javascript:void(0);" (click)="myInitiative=initiative.initiative_name;myInitiativeId=initiative.id">
                    {{initiative.initiative_name}}
              </a>
                </div>
              </div>
              <div style="padding-top:10px;">{{myInitiative}}</div>
            </div>
            <div class="col">

              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect [ngClass]="myCampaign !== '' ? 'btn btn-light-blue' : 'btn btn-outline-blue-grey'">
                CAMPAIGN
              </button>
                <div class="dropdown-menu dropdown-primary">
                  <a *ngFor="let camp of campaignList" class="dropdown-item" href="javascript:void(0);" (click)="myCampaign=camp.campaign_name;myCampaignId=camp.id">
                    {{camp.campaign_name}}
              </a>
                </div>
              </div>
              <div style="padding-top:10px;">{{myCampaign}}</div>
            </div>
            <div class="col">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect [ngClass]="myAsset !== '' ? 'btn btn-light-blue' : 'btn btn-outline-blue-grey'">
                ASSET
              </button>
                <div class="dropdown-menu dropdown-primary">
                  <a *ngFor="let asset of assetList" class="dropdown-item" href="javascript:void(0);" (click)="myAsset=asset.asset_name;myAssetId=asset.id">
                    {{asset.asset_name}}
              </a>
                </div>
              </div>
              <div style="padding-top:10px;">{{myAsset}}</div>
            </div>
            <div class="col-md-2">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect [ngClass]="myRole !== '' ? 'btn btn-light-blue' : 'btn btn-outline-blue-grey'">
                ROLE
              </button>
                <div class="dropdown-menu dropdown-primary">
                  <a *ngFor="let role of roleList" class="dropdown-item" href="javascript:void(0);" (click)="myRole=role.role_name;myRoleId=role.id">
                      {{role.role_name}}
                  </a>
                </div>
              </div>
              <div style="padding-top:10px;">{{myRole}}</div>
            </div>
            <div class="col">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect [ngClass]="myTypes !== '' ? 'btn btn-light-blue' : 'btn btn-outline-blue-grey'">
                TYPE
              </button>
                <div class="dropdown-menu dropdown-primary">
                  <a *ngFor="let types of typesList" class="dropdown-item" href="javascript:void(0);" (click)="myTypes=types.type_name;myTypeId=types.id;showContent();">
                      {{types.type_name}}
                  </a>
                </div>
              </div>
              <div style="padding-top:10px;">{{myTypes}}</div>
            </div>
          </div>
          <br>


          <div [@slideInOut]="helpMenuOpen" class="d-inline-block" style="overflow:visible !important;">
            <div class="md-form" style="margin-bottom:20px;">
              <label style="color:darkgray;" for="doc_name">Document Name</label>
              <input type="text" class="form-control" style="font-size:10pt;" mdbInputDirective [mdbValidate]="false" name="doc_name" [(ngModel)]="doc_name">
            </div>

            <!-- <textarea rows="20" cols="40" [(ngModel)]="contentHelper" name="contentHelper" class="form-control" style="width:100%;height:90%;">
            {{contentHelper}}
          </textarea> -->
          <form id="login-form" #loginForm="ngForm">
             <editor
                name="dataModel"
                apiKey="9yi8m05v9eb7kesph36l7yv4ddr94z9v5jd5bfcjyhr0mfcx"
                [init]="{height:500, toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | ', plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link  template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount   imagetools   contextmenu colorpicker textpattern help'}"
                [(ngModel)]="contentHelper">
            </editor>
          </form>
          <br>
            <div style="float:right">
              <button class='btn btn-warning waves-effect'  (click)="isModalEmailShown = true">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Send for inputs
            </button>
              <a href="javascript:void(0);" class="btn btn-success" (click)="isModalEmailShown = true">
            <i class="fa fa-group" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Send for approval
            </a>
              <button type="submit" class="btn btn-primary" [disabled]="usersSelected.length === 0">
              <i class="fa fa-paper-plane amber-text" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Publish
            </button>
              <a href="javascript:void(0);" type="button" class='btn btn-danger' (click)="resetMyForm();">
              <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Reset Form
            </a>
            </div>
            <!-- <br><br>
            <div style="float:left; margin-top:40px;">
              <a href="javascript:void(0);" (click)="isModalShown = true">Helpful Resources&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
            </div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3" [ngStyle]="{'display':hasContent ? 'inline' : 'none'}">
    <div class="card helpfulresources" style="margin-top:100px; padding:40px;" id="mycard1">
      <h5 class="card-header primary-color white-text text-center" style="margin-bottom:20px; min-width: 300px;">Helpful Resources2</h5>
      <div class="row d-flex" style="margin-top:15px;">

        <!--Grid column-->
        <h6 class="card-header success-color white-text" style="margin-bottom:20px; min-width: 300px;">Role Intelligence</h6>
        <div  class="col-md-12" *ngFor="let docs of roleIntelligenceList">

           <p style="overflow-wrap: break-word;">
             <a
                href="{{docs.document_link}}"

                target="_blank"
                class="e2e-trusted-url"
              >
                {{docs.document}}
            </a>
          </p>

        </div>


        <h6 class="card-header success-color white-text" style="margin-bottom:20px; min-width: 300px;">Best In Class Samples and Templates</h6>
        <div  class="col-md-12" *ngFor="let docs of bestsampletemplate">

           <p style="overflow-wrap: break-word;">
             <a
                href="{{docs.document_link}}"

                target="_blank"
                class="e2e-trusted-url"
              >
                {{docs.document}}
            </a>
          </p>

        </div>

        <h6 class="card-header success-color white-text" style="margin-bottom:20px; min-width: 300px;">Market and Competitive Intelligence</h6>
        <div  class="col-md-12" *ngFor="let docs of competitiveIntelligence">

           <p style="overflow-wrap: break-word;">
             <a
                href="{{docs.document_link}}"

                target="_blank"
                class="e2e-trusted-url"
              >
                {{docs.document}}
            </a>
          </p>

        </div>

        <!--Grid column-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" [config]="{ show: isModalShown }" (onHidden)="onHidden()" mdbModal #basicModal="mdb-modal" class="modal fade right"
  tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right" style="width:550px;" role="document">
    <div class="modal-content">
      <h5 class="card-header primary-color white-text text-center" id="myModalLabel">Helpful Resources1</h5>
      <div class="modal-body">
        <div style="overflow:auto;" [style.height.px]="mobHeight">

          <div *ngFor="let docs of myData" style="padding: 10px;display:inline-block;">
            <div class="btn-group dropup" dropdown>
              <button dropdownToggle type="button" class="btn btn-light-blue dropdown-toggle waves-light" mdbWavesEffect>
                  {{docs.docname}}
                </button>
              <div class="dropdown-menu dropdown-primary">
                <a *ngFor="let docsample of docs.documents" href="{{docsample.doclink}}" download="{{docsample.documentname}}" target="_blank"
                  class="dropdown-item">
                      <i class="fa fa-cloud-download ml-10 fa-1x" aria-hidden="true"></i>    {{docsample.documentname}}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger relative waves-light" (click)="basicModal.hide();" mdbRippleRadius>
          <span>CLOSE</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalEmailShown" [config]="{ show: isModalEmailShown }" (onHidden)="onHiddenEmails()" mdbModal #basicModal1="mdb-modal"
  class="modal fade top" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" style="width:550px;" role="document">
    <div class="modal-content">
      <h5 class="card-header primary-color white-text text-center" id="myModalLabel">Emails recipients</h5>
      <div class="modal-body">
        <ul class="list-group">
          <li *ngFor="let users of userslist; let idx = index" style="padding: 10px;" class="d-flex justify-content-between">
            <input type="checkbox" value="{{users.id}}" class="form-check-input" [checked]="isChecked(users.id)" (change)="updateUserSelection(users.id, $event)">
            <span>{{users.user_name}}</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="sendForm(); basicModal1.hide();" class="btn btn-success relative waves-light" mdbRippleRadius>
          <i class="fa fa-check" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<span>SUBMIT</span>
        </button>
        <button type="button" class="btn btn-danger relative waves-light" (click)="basicModal1.hide();" mdbRippleRadius>
          <i class="fa fa-close" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<span>CLOSE</span>
        </button>
      </div>
    </div>
  </div>
</div>
